<!doctype html>
<html lang="en">
<head>
  <title>Hello</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="prueba.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="./customjs/app.js"></script>
</head>


<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="allIdeas.html">Back to Home</a>
      </li>
    </ul>
  </div>
  
  <a class="navbar-brand" href="allIdeas.html">IDEAGRAM</a>
    
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="register.html">Logout</a>
        </div>
      </li>
    </ul> 
  </div>
  
</nav>



<form class="container center_div" >
<div class ="container-text">

  <div class="row" style="margin-top: 5px;margin-bottom: 50px">
              <div class ="col-md-2"></div>
              <div class ="col-md-8" style="background: white;">
                <h2 style="margin-top: 10px;">        Create your new idea</h2>
  <label style="margin-top: 10px;">All the fields marked with * are mandatory</label>


<div class="form-group">
    <h5>Title of the idea</h5>
    <input type="email" class="form-control" id="title1" aria-describedby="emailHelp" placeholder="Enter the title of the idea">
    <small id="titleHelp" class="form-text text-muted">Max. 100 characteres</small>
    <small id="titleHelp" class="form-text text-muted">An original and striking title can make your idea can be selled faster.</small>
  </div>
  <div class="form-group">
    <h5>Description of the idea</h5>
    <textarea class="form-control" id="description1" placeholder="Enter the description of the idea" rows="3"></textarea>
    <small id="descriptionHelp" class="form-text text-muted">
Max. 5000 characteres</small>
    <small id="descriptionHelp" class="form-text text-muted">
Do not forget to write everything that makes your idea original</small>
  </div>
  <div class ="form-group">
  <h5>Choose a category for your idea</h5>
  <select class="form-control" id ="category1">
    <option>Category</option>
    <option value="1">Technology</option>
    <option value="2">Sport</option>
    <option value="3">Fashion</option>
    <option value="4">Agriculture</option>
    <option value="5">Wildlife</option>
    <option value="6">Climate Change</option>
    <option value="7">History</option>
    <option value="8">Geography</option>
    <option value="9">Mathematics</option>
    <option value="10">Language</option> 
    <option value="11">Physics</option> 
    <option value="12">Information Technology </option>
  </select>
  </div>
  
    <div class ="form-group">
    <h5>Choose the way of selling your idea</h5>
    <select class="form-control" id ="sell1">
      <option>Way of sell your idea</option>
      <option value="1">Sell</option>
      <option value="2">Action</option> 
  </select>
  </div>

<div class="form-group">
    <h5>Price of the idea or initial price of the auction</h5>
      
    <a href="#" data-toggle="popover" title="How should I fill this field?" data-content="If you had selected the sell mode, you should fill this field with the final price of the idea. If you had selected the auction mode, you should fill this field with the initial price of the auction.">Help</a>
      <script>
        $(document).ready(function(){
        $('[data-toggle="popover"]').popover();   
        });
      </script>

    <input type="email" class="form-control" id="price1" aria-describedby="emailHelp" placeholder="10.000">
    <small id="titleHelp" class="form-text text-muted">
Remember to write the price in euros.</small>
  </div>

 <div class="button">
  <div class ="row">
     <div class ="col-md-4"></div>
      <div class ="col-md-4">
  <button type="button" class="btn btn-secondary btn-lg" style="margin-bottom: 20px;" class="btn btn-primary btn-lg" onclick="addIdea();">Submit</button></div>
   <div class ="col-md-4"></div>
</div>
</div>
</div>
<div class ="col-md-2"></div>
</div>
</form>
</body>
</html>
